<div class="all_tickets_wrapper">
  <%= render 'tickets/line_own_columns/new_tickets_column' %>
  <%= render 'tickets/line_own_columns/in_work_tickets_column' %>
  <%= render 'tickets/line_own_columns/on_verification_tickets_column' %>
  <%= render 'tickets/line_own_columns/closed_tickets_column' %>
</div>
