/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.ticket_body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #b3b3b359;
    font-weight: bold;
}

.all_new_and_working_tickets_wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
}

.tickets_container {
    width: 25%;
}

.all_new_tickets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(255, 85, 85, 0.31);
    padding: 20px;
    border-radius: 10px;
    transition: .25s;
    flex-wrap: wrap;
}

.all_new_tickets_wrapper:hover {
    background-color: rgba(255, 85, 85, 0.62);
}

.all_new_tickets_wrapper .new_ticket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.all_tickets_in_work_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(255, 201, 85, 0.31);
    padding: 20px;
    border-radius: 10px;
    transition: .25s;
    flex-wrap: wrap;
}

.all_tickets_in_work_wrapper:hover {
    background-color: rgba(255, 207, 85, 0.62);
}

.ticket_in_work_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ticket_wrapper {
    background-color: #b6caff57;
    transition: .25s;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0;
    line-height: 25px;
    width: 90%;
}

.ticket_wrapper:hover {
    background-color: #e0ffbd;
}

.all_tickets_on_verification_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(85, 255, 235, 0.31);
    padding: 20px;
    border-radius: 10px;
    transition: .25s;
    flex-wrap: wrap;
}

.all_tickets_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.all_tickets_on_verification_wrapper:hover {
    background-color: rgba(85, 249, 255, 0.62);
}

.all_tickets_on_verification_wrapper .ticket_on_verification_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.all_tickets_closed_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(142, 255, 85, 0.31);
    padding: 20px;
    border-radius: 10px;
    transition: .25s;
    flex-wrap: wrap;
}

.all_tickets_closed_wrapper:hover {
    background-color: rgba(116, 255, 85, 0.62);
}

.ticket_closed_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.client_tickets_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.client_ticket {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.client_ticket b {
    font-size: 18px;
    font-weight: bold;
}

.client_ticket span {
    font-size: 14px;
}

.client_ticket span:first-child {
    font-weight: bold;
}

.client_ticket span:nth-child(2) {
    margin-top: 5px;
}


/* Стили для формы */
.ticket-form {
    padding: 20px;
    margin-top: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: #dedede;
    max-width: 500px;
}

/* Стили для группы формы */
.form-group {
    margin-bottom: 20px;
}

/* Стили для метки формы */
.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Стили для полей ввода */
.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стили для кнопки отправки формы */
.btn-primary {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-primary:active,
.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

.btn-warning {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff14a;
    color: #000000;
}

.btn-danger {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: #000000;
}

/* Дополнительные стили для формы */
.ticket-form .form-control {
    height: 40px;
}

.ticket-form textarea.form-control {
    height: auto;
    resize: vertical;
}

.ticket-form .btn-primary {
    width: auto;
    padding: 10px 20px;
}